<div class="dialog-demo-content" layout="row" layout-wrap layout-margin layout-align="center">
    <md-dialog aria-label="Team details" class="md-dialog-custom">
        <form action="">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <h2>Team details</h2>
                    <span flex="" class="flex"></span>
                </div>
            </md-toolbar>
            <md-dialog-content style="max-width:800px;max-height:810px; ">
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Player Details">
                        <md-content class="md-padding">
                            <ul>    
                                <li> Messi   </li>
                                <li> Ronaldo   </li>
                                <li>  Rooney  </li>
                                <li>  Lampard  </li>
                                <li>  Gerard  </li>
                            </ul>
                        </md-content>
                    </md-tab>
                    <md-tab label="Fixtures">
                        <md-content class="md-padding">
                            <ul>    
                                <li> Spain   </li>
                                <li> Brazil   </li>
                                <li>  Argentina  </li>
                                <li>  London  </li>
                                <li>  Germany  </li>
                            </ul>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-dialog-content>
            <md-dialog-actions layout="row">
                <md-button ng-click="teamDetailsVM.cancel()">Close</md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</div>